@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h5>Please register or sign in before continuing any further.</h5>
    <h6>No action could be performed otherwise.</h6>     
    <h6>Use the navigation menu located on the left to interact with the patients' database.</h6>
</div>
