@page "/simulation"
@model SimulationModel
@{
    ViewData["Title"] = "Simulation";
}

<div class="card narrow-card mt-4 mx-auto shadow-sm">
    <div class="card-body">
        <h2 class="card-title mb-4 text-primary" style="font-size: 1.3rem;">
            <i class="bi bi-robot" style="font-size: 1.3rem;"></i> Simulation Actions
        </h2>
        <ul class="list-unstyled">
            <li class="custom-list-item p-2 mb-2 rounded" style="font-size: 1rem;">
                <div class="d-flex align-items-center justify-content-between">
                    <span class="fw-semibold fs-6">
                        Generate and Record Patient and Vital Signs To Database (Simulation)
                    </span>
                    <form method="post" asp-page-handler="CreatePatient"
                          onsubmit="return confirm('Are you sure you want to generate and post patient and vital signs to database?');">
                        <button type="submit" class="btn btn-primary btn-sm">
                            <i class="bi bi-person-plus" style="font-size: 1rem;"></i> Create/Post Patient
                        </button>
                    </form>
                </div>
            </li>
            <li class="custom-list-item p-2 mb-2 rounded" style="font-size: 1rem;">
                <div class="d-flex align-items-center justify-content-between">
                    <span class="fw-semibold fs-6">
                        Generate and Record Only Vital Signs To Database (Simulation)
                    </span>
                    <form method="post" asp-page-handler="CreateOnlyVitalSigns"
                          onsubmit="return confirm('Are you sure you want to generate and post new vital signs of a (random) existing patient to database');">
                        <button type="submit" class="btn btn-primary btn-sm">
                            <i class="bi bi-activity" style="font-size: 1rem;"></i> Create/Post Vital Signs
                        </button>
                    </form>
                </div>
            </li>
        </ul>
    </div>
</div>